<html>
<head>

</head>
<body>
<script src="audio.min.js"></script>
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>


<form action=""
enctype="multipart/form-data" method="post">
<p>
Аудио:<br>
<input type="file" name="datafile" size="40">
</p>
<div>
<input type="submit" value="Загрузить">
</div>
</form>

<form action=""
enctype="multipart/form-data" method="post">
<p>
Текст:<br>
<input type="file" name="datafile" size="40">
</p>
<div>
<input type="submit" value="Загрузить">
</div>
</form>

<div class="">
  Разумеется, новым тоталитарным режимам совершенно необязательно походить на старые. Управление государством с помощью репрессий и казней, специально организованного голода, арестов и ссылок не только антигуманно (в наши дни это мало кого волнует), но к тому же – и это можно доказать – неэффективно, а в эру передовых технологий неэффективность – страшный грех перед Господом. Тоталитарное государство, заслуживающее названия действительно «эффективного», – это такая система, где всемогущий исполнительный комитет политических руководителей, опираясь на целую армию администраторов, держит в руках порабощенное население, которое излишне даже принуждать к труду, ибо оно с радостью приемлет свое рабство. Заставить людей полюбить рабское положение – вот главная задача, возлагаемая в нынешних тоталитарных государствах на министерства культуры, главных редакторов газет и школьных учителей
</div>

<audio src="https://www.dropbox.com/s/1nor6y3ymu1l4o6/t_2_i_201590.mp3?dl=1" preload="auto" />





</body>
</html>